{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
<!-- Hero -->
    <div class="mb-4 text-start">
        <h1>P.E.V.S</h1>
        <p>
            A physics-driven virtual propulsion lab that simulates engine concepts under real conservation laws and automatically audits them for physical validity
        </p>
        
            {% if session.get("user_id") %}
                <form action="/simulation">
                    <button type="submit">Start A Simulation</button>     
                </form>    
            {% else %}
                <form action="/register">
                    <button type="submit">Create an Account</button>
                </form>
            
            {% endif %}
    </div>
    <div>    
    <!-- Main body content -->
        <h2>Project description</h2>
        <p>
            A physics validation engine that simulates spacecraft motion while enforcing conservation laws and automatically detecting invalid propulsion claims.
        </p>
        <h3>Key features:</h3>
            <span>- Conservation-law auditor</span>
            <span>- Environment vs engine separation</span>
            <span>- Fraud detection (reactionless engines)</span>
            <span>- Field interactions without violating physics</span>
    </div>
{% endblock %}